# Pandas In Julia
## Requirement
+ pip install pandas
+ Pkg.add("Pandas")

In [2]:
# Panel Data = Pan + Da
using Pandas

# Reading CSV,EXCEL,ETC

In [3]:
df = read_csv("train.csv")

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]

In [4]:
#function(dataframe)
head(df)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
head(df,10)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [6]:
#last 5 dataset
tail(df)

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [7]:
tail(df,10)

     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

In [8]:
length(df)

891

In [9]:
#Size of the DataFrame
#Rows and Columns
size(df)

(891, 12)

In [10]:
columns(df)

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [11]:
describe(df)

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [12]:
mean(df)

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [13]:
count(df)

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

# CREATING A SERIES
## Series are indexed array
## Series are 1 Dimensional DataStructure

In [14]:
day = ["Mon","Tues","Wed"]
number_of_employers = [23,50,67]
hours_spent = [9,9,10]

3-element Array{Int64,1}:
  9
  9
 10

In [16]:
ds = Series(day,number_of_employers)

23     Mon
50    Tues
67     Wed
dtype: object

In [17]:
typeof(ds)

Pandas.Series

In [18]:
head(ds)

23     Mon
50    Tues
67     Wed
dtype: object

In [19]:
length(ds)

3

# CREATING DATAFRAME
## Dataframe is a 2 Dimensional DataStructure
## Are Labelled index

In [ ]:
#df = read_csv("train.csv")

In [25]:
typeof(df)

Pandas.DataFrame

In [26]:
head(df,3)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [28]:
df2 = DataFrame(Dict(:name=>["Paul","Peter","Patrick","Prince"],:age=>[23,20,22,21]))

   age     name
0   23     Paul
1   20    Peter
2   22  Patrick
3   21   Prince

In [30]:
typeof(df2)

Pandas.DataFrame

In [31]:
head(df2)

   age     name
0   23     Paul
1   20    Peter
2   22  Patrick
3   21   Prince

In [32]:
length(df2)

4

## Columns and Rows

In [33]:
df

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
17       0            244373   13.0000          NaN        S
18       0            345763   18.0000          NaN        S
19       0              2649    7.2250          NaN        C
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792          NaN        Q
29       0            349216    7.8958          NaN        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500          NaN        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[891 rows x 12 columns]

In [34]:
#  Information About Your Columns Label
columns(df)

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [35]:
df["Name"]
df[:Name]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, dtype: object

In [36]:
#Note Unlike Python Julia doesn't accept character literals
df['Name']

LoadError: syntax: invalid character literal

In [37]:
df["Name"]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, dtype: object

In [38]:
head(df,3)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [39]:
# Selecting Multiple Columns
df[[:Name,:Age,:Sex]]

                                                  Name   Age     Sex
0                              Braund, Mr. Owen Harris  22.0    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female
2                               Heikkinen, Miss. Laina  26.0  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female
4                             Allen, Mr. William Henry  35.0    male
5                                     Moran, Mr. James   NaN    male
6                              McCarthy, Mr. Timothy J  54.0    male
7                       Palsson, Master. Gosta Leonard   2.0    male
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0  female
9                  Nasser, Mrs. Nicholas (Adele Achem)  14.0  female
10                     Sandstrom, Miss. Marguerite Rut   4.0  female
11                            Bonnell, Miss. Elizabeth  58.0  female
12                      Saundercock, Mr. William Henry  20.0    male
13                         Andersson, Mr. Anders Johan  39.0    male
14                Vestrom, Miss. Hulda Amanda Adolfina  14.0  female
15                    Hewlett, Mrs. (Mary D Kingcome)   55.0  female
16                                Rice, Master. Eugene   2.0    male
17                        Williams, Mr. Charles Eugene   NaN    male
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  31.0  female
19                             Masselmani, Mrs. Fatima   NaN  female
20                                Fynney, Mr. Joseph J  35.0    male
21                               Beesley, Mr. Lawrence  34.0    male
22                         McGowan, Miss. Anna "Annie"  15.0  female
23                        Sloper, Mr. William Thompson  28.0    male
24                       Palsson, Miss. Torborg Danira   8.0  female
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  38.0  female
26                             Emir, Mr. Farred Chehab   NaN    male
27                      Fortune, Mr. Charles Alexander  19.0    male
28                       O'Dwyer, Miss. Ellen "Nellie"   NaN  female
29                                 Todoroff, Mr. Lalio   NaN    male
..                                                 ...   ...     ...
861                        Giles, Mr. Frederick Edward  21.0    male
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  48.0  female
863                  Sage, Miss. Dorothy Edith "Dolly"   NaN  female
864                             Gill, Mr. John William  24.0    male
865                           Bystrom, Mrs. (Karolina)  42.0  female
866                       Duran y More, Miss. Asuncion  27.0  female
867               Roebling, Mr. Washington Augustus II  31.0    male
868                        van Melkebeke, Mr. Philemon   NaN    male
869                    Johnson, Master. Harold Theodor   4.0    male
870                                  Balkic, Mr. Cerin  26.0    male
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0  female
872                           Carlsson, Mr. Frans Olof  33.0    male
873                        Vander Cruyssen, Mr. Victor  47.0    male
874              Abelson, Mrs. Samuel (Hannah Wizosky)  28.0  female
875                   Najib, Miss. Adele Kiamie "Jane"  15.0  female
876                      Gustafsson, Mr. Alfred Ossian  20.0    male
877                               Petroff, Mr. Nedelio  19.0    male
878                                 Laleff, Mr. Kristo   NaN    male
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0  female
880       Shelley, Mrs. William (Imanita Parrish Hall)  25.0  female
881                                 Markun, Mr. Johann  33.0    male
882                       Dahlberg, Miss. Gerda Ulrika  22.0  female
883                      Banfield, Mr. Frederick James  28.0    male
884                             Sutehall, Mr. Henry Jr  25.0    male
885               Rice, Mrs. William (Margaret Norton)  39.0  female
886                              Montvila, Rev. Juozas  27.0    male
887                       Graham, Miss. Margaret Edith  19.0  female
888           Johnston, Miss. Catherine Helen "Carrie"   NaN  female
889                              Behr, Mr. Karl Howell  26.0    male
890                                Dooley, Mr. Patrick  32.0    male

[891 rows x 3 columns]

In [40]:
#Selecting Multiple Columns
df[["Name","Age","Sex"]]

                                                  Name   Age     Sex
0                              Braund, Mr. Owen Harris  22.0    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female
2                               Heikkinen, Miss. Laina  26.0  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female
4                             Allen, Mr. William Henry  35.0    male
5                                     Moran, Mr. James   NaN    male
6                              McCarthy, Mr. Timothy J  54.0    male
7                       Palsson, Master. Gosta Leonard   2.0    male
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0  female
9                  Nasser, Mrs. Nicholas (Adele Achem)  14.0  female
10                     Sandstrom, Miss. Marguerite Rut   4.0  female
11                            Bonnell, Miss. Elizabeth  58.0  female
12                      Saundercock, Mr. William Henry  20.0    male
13                         Andersson, Mr. Anders Johan  39.0    male
14                Vestrom, Miss. Hulda Amanda Adolfina  14.0  female
15                    Hewlett, Mrs. (Mary D Kingcome)   55.0  female
16                                Rice, Master. Eugene   2.0    male
17                        Williams, Mr. Charles Eugene   NaN    male
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  31.0  female
19                             Masselmani, Mrs. Fatima   NaN  female
20                                Fynney, Mr. Joseph J  35.0    male
21                               Beesley, Mr. Lawrence  34.0    male
22                         McGowan, Miss. Anna "Annie"  15.0  female
23                        Sloper, Mr. William Thompson  28.0    male
24                       Palsson, Miss. Torborg Danira   8.0  female
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  38.0  female
26                             Emir, Mr. Farred Chehab   NaN    male
27                      Fortune, Mr. Charles Alexander  19.0    male
28                       O'Dwyer, Miss. Ellen "Nellie"   NaN  female
29                                 Todoroff, Mr. Lalio   NaN    male
..                                                 ...   ...     ...
861                        Giles, Mr. Frederick Edward  21.0    male
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  48.0  female
863                  Sage, Miss. Dorothy Edith "Dolly"   NaN  female
864                             Gill, Mr. John William  24.0    male
865                           Bystrom, Mrs. (Karolina)  42.0  female
866                       Duran y More, Miss. Asuncion  27.0  female
867               Roebling, Mr. Washington Augustus II  31.0    male
868                        van Melkebeke, Mr. Philemon   NaN    male
869                    Johnson, Master. Harold Theodor   4.0    male
870                                  Balkic, Mr. Cerin  26.0    male
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0  female
872                           Carlsson, Mr. Frans Olof  33.0    male
873                        Vander Cruyssen, Mr. Victor  47.0    male
874              Abelson, Mrs. Samuel (Hannah Wizosky)  28.0  female
875                   Najib, Miss. Adele Kiamie "Jane"  15.0  female
876                      Gustafsson, Mr. Alfred Ossian  20.0    male
877                               Petroff, Mr. Nedelio  19.0    male
878                                 Laleff, Mr. Kristo   NaN    male
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0  female
880       Shelley, Mrs. William (Imanita Parrish Hall)  25.0  female
881                                 Markun, Mr. Johann  33.0    male
882                       Dahlberg, Miss. Gerda Ulrika  22.0  female
883                      Banfield, Mr. Frederick James  28.0    male
884                             Sutehall, Mr. Henry Jr  25.0    male
885               Rice, Mrs. William (Margaret Norton)  39.0  female
886                              Montvila, Rev. Juozas  27.0    male
887                       Graham, Miss. Margaret Edith  19.0  female
888           Johnston, Miss. Catherine Helen "Carrie"   NaN  female
889                              Behr, Mr. Karl Howell  26.0    male
890                                Dooley, Mr. Patrick  32.0    male

[891 rows x 3 columns]

# ROW

In [42]:
#df.loc() In Python
loc(df)[1:5]

   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S

In [43]:
iloc(df)[:2]

PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object

In [45]:
#For More Functions of the Pandas Package
whos(Pandas)

                            @>      0 bytes  Lazy.#@>
                        @query      0 bytes  Pandas.#@query
                     DataFrame    112 bytes  DataType
                       GroupBy    112 bytes  DataType
                          Iloc    112 bytes  DataType
                         Index    112 bytes  DataType
                            Ix    112 bytes  DataType
                           Loc    112 bytes  DataType
                    MultiIndex    112 bytes  DataType
                        Pandas  23521 KB     Module
                        Series    112 bytes  DataType
                             T      0 bytes  Pandas.#T
                           abs      0 bytes  Base.#abs
                           agg      0 bytes  Pandas.#agg
                     aggregate      0 bytes  Pandas.#aggregate
                         align      0 bytes  Pandas.#align
                           any      0 bytes  Base.#any
                           app      0 bytes  Pandas.#app
                       argsort      0 bytes  Pandas.#argsort
                        asfreq      0 bytes  Pandas.#asfreq
                          asof      0 bytes  Pandas.#asof
                   bdate_range      0 bytes  Pandas.#bdate_range
                          clip      0 bytes  Pandas.#clip
                    clip_lower      0 bytes  Pandas.#clip_lower
                    clip_upper      0 bytes  Pandas.#clip_upper
                       columns      0 bytes  Pandas.#columns
                        concat      0 bytes  Pandas.#concat
                          corr      0 bytes  Pandas.#corr
                      corrwith      0 bytes  Pandas.#corrwith
                         count      0 bytes  Base.#count
                           cov      0 bytes  Base.#cov
                      crosstab      0 bytes  Pandas.#crosstab
                        cummax      0 bytes  Base.#cummax
                        cummin      0 bytes  Base.#cummin
                       cumprod      0 bytes  Base.#cumprod
                        cumsum      0 bytes  Base.#cumsum
                           cut      0 bytes  Pandas.#cut
                    date_range      0 bytes  Pandas.#date_range
                 deletecolumn!      0 bytes  Pandas.#deletecolumn!
                       delevel      0 bytes  Pandas.#delevel
                      describe      0 bytes  Pandas.#describe
                          diff      0 bytes  Base.LinAlg.#diff
               drop_duplicates      0 bytes  Pandas.#drop_duplicates
                        dropna      0 bytes  Pandas.#dropna
                    duplicated      0 bytes  Pandas.#duplicated
                          ewma      0 bytes  Pandas.#ewma
                       ewmcorr      0 bytes  Pandas.#ewmcorr
                        ewmcov      0 bytes  Pandas.#ewmcov
                        ewmstd      0 bytes  Pandas.#ewmstd
                        ewmvar      0 bytes  Pandas.#ewmvar
               expanding_apply      0 bytes  Pandas.#expanding_apply
                expanding_corr      0 bytes  Pandas.#expanding_corr
       expanding_corr_pairwise      0 bytes  Pandas.#expanding_corr_pairwise
               expanding_count      0 bytes  Pandas.#expanding_count
                 expanding_cov      0 bytes  Pandas.#expanding_cov
                expanding_kurt      0 bytes  Pandas.#expanding_kurt
                 expanding_max      0 bytes  Pandas.#expanding_max
                expanding_mean      0 bytes  Pandas.#expanding_mean
              expanding_median      0 bytes  Pandas.#expanding_median
                 expanding_min      0 bytes  Pandas.#expanding_min
            expanding_quantile      0 bytes  Pandas.#expanding_quantile
                expanding_skew      0 bytes  Pandas.#expanding_skew
                 expanding_std      0 bytes  Pandas.#expanding_std
                 expanding_sum      0 bytes  Pandas.#expanding_sum
                 expanding_var      0 bytes  Pandas.#expanding_var
                        fillna      0 bytes  Pandas.#fillna
                        filter      0 bytes  Base.#filter
                         first      0 bytes  Base.#first
             first_valid_index      0 bytes  Pandas.#first_valid_index
                   from_arrays      0 bytes  Pandas.#from_arrays
                   from_tuples      0 bytes  Pandas.#from_tuples
                   get_dummies      0 bytes  Pandas.#get_dummies
                     get_group      0 bytes  Pandas.#get_group
                       groupby      0 bytes  Pandas.#groupby
                        groups      0 bytes  Pandas.#groups
                          head      0 bytes  Pandas.#head
                          hist      0 bytes  Pandas.#hist
                        idxmax      0 bytes  Pandas.#idxmax
                        idxmin      0 bytes  Pandas.#idxmin
                          iloc      0 bytes  Pandas.#iloc
                         index      0 bytes  Pandas.#index
                        index!      0 bytes  Pandas.#index!
                       indices      0 bytes  Base.#indices
                          isin      0 bytes  Pandas.#isin
                          join      0 bytes  Base.#join
                          last      0 bytes  Base.#last
              last_valid_index      0 bytes  Pandas.#last_valid_index
                           loc      0 bytes  Pandas.#loc
                          mean      0 bytes  Base.#mean
                        median      0 bytes  Base.#median
                          melt      0 bytes  Pandas.#melt
                           min      0 bytes  Base.#min
                          mode      0 bytes  Pandas.#mode
                          name      0 bytes  Pandas.#name
                          ohlc      0 bytes  Pandas.#ohlc
                         order      0 bytes  Pandas.#order
                    pct_change      0 bytes  Pandas.#pct_change
                  period_range      0 bytes  Pandas.#period_range
                         pivot      0 bytes  Pandas.#pivot
                   pivot_table      0 bytes  Pandas.#pivot_table
                          plot      0 bytes  PyPlot.#plot
                          qcut      0 bytes  Pandas.#qcut
                      quantile      0 bytes  Base.#quantile
                         query      0 bytes  Pandas.#query
                          rank      0 bytes  Base.LinAlg.#rank
                      read_csv      0 bytes  Pandas.#read_csv
                    read_excel      0 bytes  Pandas.#read_excel
                     read_html      0 bytes  Pandas.#read_html
                     read_json      0 bytes  Pandas.#read_json
                   read_pickle      0 bytes  Pandas.#read_pickle
                    read_table      0 bytes  Pandas.#read_table
                       reindex      0 bytes  Pandas.#reindex
                  reindex_axis      0 bytes  Pandas.#reindex_axis
                  reindex_like      0 bytes  Pandas.#reindex_like
                        rename      0 bytes  Pandas.#rename
                       replace      0 bytes  Base.#replace
                      resample      0 bytes  Pandas.#resample
                   reset_index      0 bytes  Pandas.#reset_index
                 rolling_apply      0 bytes  Pandas.#rolling_apply
                  rolling_corr      0 bytes  Pandas.#rolling_corr
         rolling_corr_pairwise      0 bytes  Pandas.#rolling_corr_pairwise
                 rolling_count      0 bytes  Pandas.#rolling_count
                   rolling_cov      0 bytes  Pandas.#rolling_cov
                  rolling_kurt      0 bytes  Pandas.#rolling_kurt
                   rolling_max      0 bytes  Pandas.#rolling_max
                  rolling_mean      0 bytes  Pandas.#rolling_mean
                rolling_median      0 bytes  Pandas.#rolling_median
                   rolling_min      0 bytes  Pandas.#rolling_min
              rolling_quantile      0 bytes  Pandas.#rolling_quantile
                  rolling_skew      0 bytes  Pandas.#rolling_skew
                   rolling_std      0 bytes  Pandas.#rolling_std
                   rolling_sum      0 bytes  Pandas.#rolling_sum
                   rolling_var      0 bytes  Pandas.#rolling_var
                rolling_window      0 bytes  Pandas.#rolling_window
                        sample      0 bytes  Pandas.#sample
                          save      0 bytes  Pandas.#save

                        select      0 bytes  Base.Sort.#select
                     set_index      0 bytes  Pandas.#set_index
                   setcolumns!      0 bytes  Pandas.#setcolumns!
                      setname!      0 bytes  Pandas.#setname!
                         shift      0 bytes  Pandas.#shift
                           siz      0 bytes  Pandas.#siz
                          skew      0 bytes  Pandas.#skew
                          sort      0 bytes  Base.#sort
                    sort_index      0 bytes  Pandas.#sort_index
                     sortlevel      0 bytes  Pandas.#sortlevel
                         stack      0 bytes  Pandas.#stack
                         stats      0 bytes  Pandas.#stats
                           std      0 bytes  Base.#std
                           sum      0 bytes  Base.#sum
                     swaplevel      0 bytes  Pandas.#swaplevel
                          tail      0 bytes  Pandas.#tail
                  to_clipboard      0 bytes  Pandas.#to_clipboard
                        to_csv      0 bytes  Pandas.#to_csv
                   to_datetime      0 bytes  Pandas.#to_datetime
                      to_dense      0 bytes  Pandas.#to_dense
                       to_dict      0 bytes  Pandas.#to_dict
                      to_excel      0 bytes  Pandas.#to_excel
                        to_gbq      0 bytes  Pandas.#to_gbq
                        to_hdf      0 bytes  Pandas.#to_hdf
                       to_html      0 bytes  Pandas.#to_html
                       to_json      0 bytes  Pandas.#to_json
                      to_latex      0 bytes  Pandas.#to_latex
                    to_msgpack      0 bytes  Pandas.#to_msgpack
                    to_numeric      0 bytes  Pandas.#to_numeric
                      to_panel      0 bytes  Pandas.#to_panel
                     to_pickle      0 bytes  Pandas.#to_pickle
                    to_records      0 bytes  Pandas.#to_records
                     to_sparse      0 bytes  Pandas.#to_sparse
                        to_sql      0 bytes  Pandas.#to_sql
                     to_string      0 bytes  Pandas.#to_string
                  to_timedelta      0 bytes  Pandas.#to_timedelta
                     transform      0 bytes  Pandas.#transform
                      truncate      0 bytes  Base.#truncate
                     tz_conert      0 bytes  Pandas.#tz_conert
                   tz_localize      0 bytes  Pandas.#tz_localize
                       unstack      0 bytes  Pandas.#unstack
                        values      0 bytes  Base.#values
                           var      0 bytes  Base.#var
                       weekday      0 bytes  Pandas.#weekday
                            xs      0 bytes  Pandas.#xs